*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle-user-home
/gradle-test-info.log
/gradle-test-info2.log
/gradle-test-info3.log
/gradle-test-info4.log
/gradle-test-info5.log
/gradle/gradle-daemon-jvm.properties
