APP_NAME=Foodiary LogMeal Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080
APP_DEBUG=true
LOGMEAL_BASE_URL=https://api.logmeal.com
LOGMEAL_TIMEOUT_SECONDS=60
LOGMEAL_COMPANY_TOKEN=replace-with-logmeal-company-token
LOGMEAL_APIUSER_TOKEN=replace-with-logmeal-apiuser-token
FOODIARY_PUBLIC_API_KEY=replace-with-foodiary-public-api-key
ENABLE_RAW_DEBUG_ENDPOINT=false
DEFAULT_USER_LANGUAGE=ru
DEFAULT_USER_COUNTRY=RU
MAX_UPLOAD_SIZE_MB=10
ALLOWED_IMAGE_EXTENSIONS=.jpg,.jpeg,.png,.webp
CORS_ALLOW_ORIGINS=*
